extends ../layout

block content
  .container
    .my-5.d-flex.justify-content-between.align-items-center
      h1 Nueva Bicicleta
      a(href='/bikes').btn.btn-primary Volver

    .d-flex.justify-content-center
      form(action='/bikes/create' method='post').w-50
        .mb-3
          label.form-label(for='id') Id
          input#id.form-control(type='text', name='id')
        .mb-3
          label.form-label(for='model') Modelo
          input#model.form-control(type='text', name='model')
        .mb-3
          label.form-label(for='color') Color
          input#color.form-control(type='text', name='color')
        .mb-3
          label.form-label(for='latitude') Latitud
          input#latitude.form-control(type='text', name='latitude')
        .mb-3
          label.form-label(for='longitude') Longitud
          input#longitude.form-control(type='text', name='longitude')

        button.btn.btn-success.btn-block(type='submit') Ingresar Bicicleta