extends ../layout

block content
  .container
    .my-5.d-flex.justify-content-between.align-items-center
      h1 Listado de Bicicletas
      a(href='/bikes/create').btn.btn-primary.m-2 Agregar Bicicleta
    table.table 
      thead 
        tr 
          th(scope='col') #
          th(scope='col') Color
          th(scope='col') Modelo
          th(scope='col') Ubicacion
          th(scope='col') Acciones
      tbody 
        each bike in bikes 
          tr
            td(scope='row')= bike.id 
            td= bike.color 
            td= bike.model
            td= bike.ubication
            td.d-flex.justify-content-around
              a.btn.btn-warning(href='/bikes/' + bike.id + '/update') Editar
              form(method='post' action='/bikes/' + bike.id + '/delete' )
                input(type='hidden' name='id' value=bike.id)
                button.btn.btn-danger(type='submit') Eliminar



