extends ../layout

block content
  .container
    .my-5.d-flex.justify-content-between.align-items-center
      h1 Actualizar Bicicleta
      a(href='/bikes').btn.btn-primary Volver

    .d-flex.justify-content-center
      form(action=`/bikes/${bike.id}/update` method='post').w-50
        .mb-3
          label.form-label(for='id') Id
          input#id.form-control(type='text', name='id', value=bike.id)
        .mb-3
          label.form-label(for='model') Modelo
          input#model.form-control(type='text', name='model', value=bike.model)
        .mb-3
          label.form-label(for='color') Color
          input#color.form-control(type='text', name='color', value=bike.color)
        .mb-3
          label.form-label(for='latitude') Latitud
          input#latitude.form-control(type='text', name='latitude', value=bike.ubication[0])
        .mb-3
          label.form-label(for='longitude') Longitud
          input#longitude.form-control(type='text', name='longitude', value=bike.ubication[0])

        button.btn.btn-success.btn-block(type='submit') Editar Bicicleta